<div class=" container">
    
    <div class="my-bg">
                     
            <h1 class="my-website-title">DogCentral</h1>
                   <div class="my-box">
                        <h2>Sign In</h2>
                        <form action="/users/login" method="post">
                            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <div class="form-group">
                                    <label for="">Email</label>
                                    <input  type="text" class="form-control"  placeholder="Enter Email" name="email">
                                    <label for="">Password</label>
                                    <input  type="password" class="form-control" placeholder="Enter Password" name="password">
                                    <button type="submit" class="my-top-margin btn btn-primary">Sign In</button>
                                </div> 
                                <p><a href="/users/registerpage">Don't have an account? Register here.</a></p>  
                        </form>
                        <% if flash[:errors]%>
                                <% flash[:errors].each do |err|%>
                                <p><%= err%></p>
                                <%end%>
                                <%end%>
                   </div>
                        
                        
                </div>
</div>
